<form name="signup" action="/auth/signIn" method="post">
    username: <input type="text" name="username" placeholder="Enter your username" style="color:black"/><br/>
    password: <input type="password" name="password" placeholder="Enter your password" style="color:black"/><br/>

    <input type="submit" value="SIGN IN" class="btn btn-primary btn-lg"></input>

  </form>